@import "functions";

$font--sans: "Sintony",sans-serif;
$font--serif: "Merriweather",serif;
$fonts: (
    sans: $font--sans,
    serif: $font--serif
);

$shades: (
    dark: #2E3639,
    light: #E7E7E7,
);

$colors: (
    brown: #C3A26F,
    pink: #E2BFB9,
    purple: #B51659,
    red: #FD2928,
    yellow: #FAB23A
);

$shadows: (
    1: (0 rem(1px) rem(3px) rgba(0,0,0,0.12), 0 rem(1px) rem(2px) rgba(0,0,0,0.24)),
    2: (0 rem(3px) rem(6px) rgba(0,0,0,0.16), 0 rem(3px) rem(6px) rgba(0,0,0,0.23)),
    3: (0 rem(10px) rem(20px) rgba(0,0,0,0.19), 0 rem(6px) rem(6px) rgba(0,0,0,0.23)),
    4: (0 rem(14px) rem(28px) rgba(0,0,0,0.25), 0 rem(10px) rem(10px) rgba(0,0,0,0.22)),
    5: (0 rem(19px) rem(38px) rgba(0,0,0,0.30), 0 rem(15px) rem(12px) rgba(0,0,0,0.22))
)
